*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-color: #FAF9F6;
}

.header {
  text-align: center;
  padding: 20px;
  color: #c20018;
}

.header p {
    padding: 10px;
    font-weight: bold;
    font-size: small;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.content {
    text-align: center;
}

.content h2 {
    font-weight: normal;
    color: grey;
}

.content p {
    margin: 50px;
    padding: 80px;
    color: #c20018;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 20px 8px 10px #888888;
}

button {
    margin: 40px;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: #c20018;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #c20018;
    text-align: center;
    margin-bottom: 10px;

 }